.sliderimg {
  /* width: 70%;
  height: 350px; */
  object-fit: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  object-fit: fill;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn,
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  text-align: center !important;
  font-size: 2rem;
  color: black !important;
}
